$font-to-use: "Poppins",
"Arial",
sans-serif;
$font-title: "Segui UI";
$main-color-green: #3CC201;
$main-color-grey: #E9E9E9;

* {
    margin: 0;
    padding: 0;
    font-family: $font-to-use;
}

.innerBody {
    width: 100vw;
    height: 100vh;
}

.navigation {
    position: fixed;
    background-color: $main-color-green;
    width: 25vw;
    height: 100vh;

    form {
        text-align: center;

        input {
            width: 85%;
            height: 50px;
            border-radius: 10px;
            border: none;
            box-shadow: 0 3 6 rgba(0, 0, 0, 0.16);
            text-align: center;
        }
    }
}

.content {
    background-color: $main-color-grey;
    margin-left: 25vw;
    width: 75;
    height: 100vh;
}